.conteiner {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 250px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 120px;
  width: 250px;
  line-height: 46px;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(236, 243, 242);
  background-color: rgb(93, 90, 90);
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  transition: box-shadow 0.2s;
}
